# General
*.zip
*.exe
*.tar
*.tar.gz
*.tgz
*.log
*.bak
*.swp
*.tmp
*~
.DS_Store
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js
node_modules/
.npm
.pnpm
.yarn-integrity
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Pulumi
.pulumi/
**/Pulumi.*.yaml
**/Pulumi.local.*
**/Pulumi.stack.yaml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl
terraform.tfstate.backup

# Ansible
*.retry
*.pyc
__pycache__/
*.egg-info/
.ansible/
.ansible.cfg
ansible.cfg
*.vault
*.secret

# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

creds/aws-creds

*/node_modules/
